body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", arial;
}

header,
footer {
  background-color: #1f2937;
}

header {
    color: white;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 {
  background-color: #e5e7eb;
}

.logo {
  color: #f9faf8;
  font-size: 15px;
}

img {
    width: 200px;
    height: auto;
}

.links {
    font-size: 12px;
}

.quote h2 {
  font-size: 25px;
  font-weight: 100;
  font-style: italic;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button, .banner {
  background-color: #3882f6;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  color: #f9faf8;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: #1f2937;
}

h3 {
  font-size: 16px;
  color: #e5e7eb;
  font-weight: 100;
}

h4 {
  text-align: end;
}

h6 {
    font-weight: 100;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: white;
}



footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
}

