body {
    display: flex;
    flex-direction: column;
}

header {
    
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h2 {
    text-align: center;
}

h4 {
    text-align: end;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}